@model Entities.Todo
@{
    ViewData["Title"] = "Editar";
}

<div class="card">
    <div class="card-header">Editar Tarefa</div>
    <div class="card-body">
        @using (Html.BeginForm("Editar", "Home", FormMethod.Post))
        {
            <div class="form-group">
                <label>Nome daTarefa</label>
                @Html.TextBoxFor(d => d.Tarefa, new { @class = "form-control" })
            </div>
            <br />
            <input type="submit" class="btn btn-success btn-sm" />
        }
    </div>
</div>